
.catalog {
    padding-bottom: 2rem;
    min-height: 100vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.8) 48%, rgba(255, 255, 255, 0.7) 100%), url('../img/bg/bg2.jpg') center fixed no-repeat;


    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
        align-items: center;
        gap: 1rem;
    }
    &__name {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__img {
        width: 14rem;
        height: 14rem;
        display: flex;
        align-items: center;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

}

