.header {
    height: 90px;
    width: 100%;
    position: fixed;
    background-color:#21243D;



    &__wrapper {
        display: flex;
        justify-content: space-between;

        .logo {
            height: 90px;
            img {
                object-fit: cover;
            }
        }
        .menu {
            display: flex;
            min-width: 50%;
            align-items: center;

            &__list{
                display: flex;
                justify-content: space-around;
                align-content: center;
                flex-wrap: wrap;
            }
            &__link {
                list-style-type: none;
                a {
                    &:hover {
                        color: white;
                        border-color: #21243D;
                    }
                    padding: 0.31rem;
                    font-size: 1.2rem;
                    font-weight: 700;
                    text-decoration: none;
                    color: $main_color;
                    span {
                        font-size: 0.85rem;
                    }
                }
            }

            &__metal {
                display: none;
                position: relative;
                margin-top: 1rem;
                padding: 1rem;
                background-color: white;
                border: 2px solid $main-color;
                border-radius: 5px;
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.5;
                color: #21243D;

                li {
                    list-style-type: none;
                }
            }
            &__hamburger {
                display: flex;
                height: 46px;
                width: 35px;
                span {
                    display: none;
                    height: 4px;
                    width: 35px;
                    margin-bottom: 10px;
                    background-color: $main-color;
                }
            }
            &__close {
                display: none;
                position: absolute;
                top: -40px;
                right: -40px;
                height: 30px;
                width: 30px;
                padding: 0;
                border-radius: 100%;
                border: 2px solid $main-color;
                font: inherit;
                color: inherit;
                background-color: transparent;
                cursor: pointer;
        
        
                strong {
                    display: block;
                    margin: 0 auto;
                    line-height: 0;
                    font-size: 2.5rem;
                    font-weight: 400;
                    color: $main-color;
                }
            }
            .menu__link_activ:hover .menu__metal {
                display: block;
            }

        }

    }
    .header__wrapper {  display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "logo btn__menu-mobile"
          "menu menu";
    }
      
      .logo { grid-area: logo; }
      
      .btn__menu-mobile { grid-area: btn__menu-mobile; }
      
      .menu { grid-area: menu; }
      

}

@media (max-width: 767px) {
    *{
        font-size: 13px;
    }
    .btn {
        min-width: auto;
        border: 2px solid #8d2626d1;
    }
    .header {
        min-height: 100vh;
        min-width: 100vw;
        &__btn {
            display: block;
        }
        &__wrapper {
            display: flex;
        }
        .menu {
            margin: 0;
            min-width: auto;

            display: flex;
            justify-content: flex-end;
            &__list {
                display: none;
                &_open {
                    display: flex;
                }
            }
            &__hamburger {
                span {
                    display: block;
                }
            }
        }

    }